.dash-board{
    display: flex;
    flex-direction: row;
}

.side-bar-wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100; 
}

.side-bar-container{
    // background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    // background-size: cover;
    background-color: grey;
    z-index: 10;
    display: grid;
    grid-template-columns: 225px;
    grid-template-rows: 82px repeat(3, 48px) 117px repeat(3, 48px) auto;
    height: 100vh;
    width: 230px;
    justify-items: center;
    align-items: baseline;
    cursor: unset;
}

.profile-button{
    background-color: transparent;
    color: lightgrey;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    border: none;
    z-index: 100;
    margin-top: 10px;
    padding: 10px;
    height: 40px;
    width: 167px;
}

.profile-button:hover{
    cursor: pointer;
    color: white;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
}

.modal_child1 {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 145px;
    bottom: -5px;
    right: 50%;
    left: 136px;
    background: white;
    z-index: 11;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px lightgrey;
    width: 220px;
    height: 201px;
}

.account{
    color: #a6a6a6;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.40px;
    line-height: normal;
    padding: 3px 21px;
    text-transform: uppercase;
}
.profile-email{
    letter-spacing: 0.5px;
    align-items: center;
    color: var(--title-gray);
    display: flex;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    padding: 6px 20px;
    width: 100%;
}

.github2{
    a{
        text-decoration: none;
                    color: rgb(50,50,50);
                }
    letter-spacing: 0.5px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 6px 20px;
    width: 100%;
     border: none;

}
.github2:hover{
    background-color: #dcdfe3;
}
.linkedin2{
    a{
        text-decoration: none;
        color: rgb(50,50,50);
                }
    letter-spacing: 0.5px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 6px 20px;
    width: 100%;
     border: none;

}
.linkedin2:hover{
    background-color: #dcdfe3;
}
.angelList2{
    a{
        text-decoration: none;
        color: rgb(50,50,50);
    }
    letter-spacing: 0.5px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 6px 20px;
    width: 100%;
    border: none;

}
.angelList2:hover{
    background-color: #dcdfe3;
}

.logout-btn{
    color: rgb(50,50,50);
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding: 6px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.logout-btn:hover{
    background-color: #dcdfe3;
}

.version{
    color: rgb(50,50,50);
    align-items: center;
    display: flex;
    font-weight: 100;
    font-size: 13px;
    line-height: auto;
    padding: 6px 20px;
    width: 100%;
    color: #a6a6a6;

}

 .divider{
    border-bottom: 1px solid #d4d3d3;
}

.side-button1{
    min-height: 100px;
}


.New-note-btn{
    font-family: 'Montserrat', sans-serif;
    background-color: transparentize($color: grey, $amount: 0);
    color: rgb(204,211,211);
    font-size: 15px;
    border: 0px;
    font-weight: 500;
    width: 100%;
}

.New-note-btn:hover{
    color: white;
    cursor: pointer;
}

.delete-note-btn{
     a{
        text-decoration: none;
        color: rgb(50,50,50);
    }
}